body{
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}
.box{
    height: 320px;
    width: 320px;
    border: 10px solid #48ee59;
    background-color: #00000080;
    font-family: Bree Serif;
    font-size: 40px;
}