*{
    margin: 0;
    padding: 0;
}
.rbg{
    background-color: #fb4e71;
}
.card1{
    background-color: #ffffff;
   
}
@media screen and (max-width:576px) {
    .topimg{
        height: 200px;
    }
}
